{{#partial "adminBody"}}
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

<div class="modal-body">
    <div class="row">
        <div class="col-sm-12">
            <div class="col-sm-6">
                Nombre:
            </div>
            <div class="col-sm-6">
                <input type="text" class="form-control">
            </div>
        </div>
        <div class="col-sm-12 m-top-10">
            <div class="col-sm-6">
                Descripcion:
            </div>
            <div class="col-sm-6">
                <input type="text" class="form-control">
            </div>
        </div>
    </div>
</div>
{{/partial}}
{{>adminDash.hbs}}