{{#partial "adminBody"}}
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="js/hogares.js"></script>

</head>


<!-- Modal -->
<div class="modal fade" id="reporte" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Reportes</h4>
            </div>
            <div class="modal-body">
                <form action="/hogares/reportes" method="get">
                    <div class="form-group">
                        <label for="inicioPeriodo">Inicio perido:</label>
                        <input required type="date" class="form-control" id="inicioPeriodo" name="inicioPeriodo">
                    </div>
                    <div class="form-group">
                        <label for="finPeriodo">Fin perido:</label>
                        <input required type="date" class="form-control" id="finPeriodo" name="finPeriodo">
                    </div>
                    <button type="submit" class="btn btn-success">Generar</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                </form>
            </div>

        </div>

    </div>
</div>

<table class="table table-striped">
    <button type="button" class="btn btn-primary pull-right" data-toggle="modal"
            data-target="#reporte">Generar reportes
    </button>
    <thead>
    <tr>
        <th>Id</th>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Consumo</th>
    </tr>
    </thead>
    <tbody>
    {{#each cliente}}
    <tr>
        <td>{{id}}</td>
        <td>{{nombre}}</td>
        <td>{{apellido}}</td>
        {{#unless consumoTotal}}
        <td>0</td>
        {{/unless}}
        {{#if consumoTotal}}
        <td>{{consumoTotal}}</td>
        {{/if}}
    </tr>
    {{/each}}
    </tbody>
</table>

{{/partial}}

{{>adminDash.hbs}}