table{
border-radius: 5px;
width: 300;
float: none;
margin-top:60px;
margin-left:20px
}


.form-control-clear {
  z-index: 10;
  pointer-events: auto;
  cursor: pointer;
}


.top-buffer { margin-top: 60px;}


body{
}

td{
    vertical-align: bottom;
}

th {
    text-align: center;
}

.navbar-fixed-top.navbar-fixed-top {
		display:block;
}


