table, td, th {
    		border: 1px solid black;
		}

table {
    		border-collapse: collapse;
    		width: 50%;
    		background-color: Azure ;
    		margin-left:20px;
    		margin-top:30px;
    		right: 50%;
}

th {
    		height: 40px;
		}
		
		.colIzquierda{
			width:50%;
}
		
.navbar-fixed-top.navbar-fixed-top {
		display:block;
}
		
.dispIntelig{
			background-color: Bisque;
		}


		
h3{
			background-color: Black;
			margin-right: 66%;
                        margin-top: 200 px;
		}