.card-img-top {
	width: 50%;
	height: 50%;
	border-radius: 50%;
}

.card text-center{
	position: relative;
	border: 2px;
    border-radius: 5px;
	left: 50;
	right: 50;
	
}

h1{
text-shadow: 0 0 20px #fefcc9, 2px -2px 3px #feec85, -4px -4px 5px #ffae34, 5px -10px 6px #ec760c, -5px -12px 8px #cd4606, 0 -15px 20px #973716, 2px -15px 20px #451b0e;
color: #666;
}

body{
background-image: linear-gradient(to bottom right, white, GreenYellow);
}

.welcome{
margin-top:45px;
}

.logout.logout{
visibility:block; !important;
display:block; !important;
}

.active{
	display: none;
}
.login
{
display:none;
}

