.card-img-top {
	width: 50%;
	height: 50%;
	border-radius: 50%;
}

.card text-center{
	position: relative;
	border: 2px;
    border-radius: 5px;
	left: 50;
	right: 50;
	
}

body{
	background-image: url("http://www.fondos.gratis.es/fondos_webs/agua/agua08.jpg");
}