table
{
width: 30%;
float: none;
border-radius: 5px;
padding:auto;
margin-top:40px;
}

.tablita > table
{
margin-right:55px;
}
.combo{
margin-top:80px;
margin-left:20px;
padding:auto;
}

td{
    vertical-align: bottom;
}

th {
text-align: center;
}

.navbar-fixed-top.navbar-fixed-top {
display:block;
}

table, td, th {
border: 1px solid black;
}



