<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/login.css"> 
    <link rel="stylesheet" href="/css/consumoCliente.css">
    <link rel="stylesheet" href="/css/main.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>
<body>
<div id="exampleContainer">

  <div class="input-group">
    <div class="form-group has-feedback has-clear">
      <input type="text" class="form-control" sytle="margin-top:60px;" align="right" width="48" height="48 id="exampleInput1" placeholder="Periodo">
      <span class="form-control-clear glyphicon glyphicon-remove form-control-feedback hidden"></span>
    </div>
    <span class="input-group-btn">
      <button type="button" class="btn btn-primary" sytle="margin-top:60px;" id="exampleButton1">Consultar</button>
    </span>
  </div>
  </div>
<table class="table table-dark">
    <tr>
      <th scope="col"class="align-top">#</th>
      <th scope="col" class="align-top">Nombre</th>
      <th scope="col" class="align-top">Apellido</th>
      <th scope="col"class="align-top">Periodo</th>
      <th scope="col" class="align-top">Consumo</th>
    </tr>
     </thead>
  		<tbody>
    <tr>
      <th scope="row">1</th>
      <td>{{nombre}}</td>
      <td>{{apellido}}</td>
      <td>asd</td>
    </tr>
  </tbody>
</table>
</html>
{{>layout.hbs}}