<html>
<head>
	<title>Estado del Hogar</title>
	<link rel="stylesheet" href="/css/homeCliente.css"> 
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
</head>

<!-- FALTA COMPLETAR ESTA PANTALLA-->
<body>
	<h3>Consumo del ultimo mes</h3>
	<h3>{{consumoUltimoMes}}</h3>
		
<table class="table table-striped table-dark">
  <thead>
    <tr>
      <th scope="col">Nombre del dispositivo</th>
      <th scope="col">Estado</th>
    </tr>
  </thead>
  <tbody>
  		{{#each dispositivos}}
			<tr>
      			<th scope="row">{{nombre}}</th>
      			<td>{{estado}}</td>
    		</tr>
		{{/each}}
  </tbody>
</table>

</body>
</html>