<html>
<head>
	<title>Estado del Hogar</title>
	<link rel="stylesheet" href="/css/homeCliente.css"> 
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <style>
		table, td, th {
    		border: 1px solid black;
		}

		table {
    		border-collapse: collapse;
    		width: 50%;
    		background-color: Azure ;
    		margin-left:20px;
    		margin-top:30px;
    		right: 50%;
		}

		th {
    		height: 40px;
		}
		
		.colIzquierda{
			width:50%;
		}
		
		.menu.menu{
		display:block;
		}
		
		.dispIntelig{
			background-color: Bisque;
		}
		</style>
</head>

<body>
	<h3 style = "margin-top:50px"><span style="color:OldLace" class="border">Consumo del ultimo mes:  {{consumoUltimoMes}}</span></h3>
		
<table class="table table-dark">
<thead>
    <tr>
    <tr>
      <th scope="col" class="colIzquierda">Nombre del dispositivo</th>
      <th scope="col">Estado</th>
    </tr>
  </thead>
  <tbody>		
			{{#each dispositivosI}}
			<tr class="dispIntelig">
      			<th scope="row" class="colIzquierda">{{nombre}}</th>
      			<td>{{estado}}</td>
    		</tr>
		{{/each}}
  </tbody>
</table>
</body>
</html>
{{>layout.hbs}}