<!DOCTYPE html>
<html ng-app="energiapp">
<head>
    <title>Home</title>
	<link rel="stylesheet" href="../css/homeCliente.css"> 
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../plugins/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" media="screen" href='../plugins/font-awesome/css/font-awesome.min.css'>
    <link rel="stylesheet" media="screen" href='../plugins/bootstrap/css/bootstrap.min.css'>
    
</head>

<body>
	<h3>Bienvenido "NomCliente" </h3>

<div class="card-deck">
  <div class="card">
    <img class="card-img-top" src="../imagenes/hogar.jpg" alt="Card image cap">
    <div class="card-body">
      <button> Ver mi hogar</button>
    </div>
  </div>
  <!--
  <div class="card">
    <img class="card-img-top" src=".../100px200/" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src=".../100px200/" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div> -->
</div>




</body>
</html>