<!DOCTYPE html>
<html ng-app="energiapp">
<head>
    <title>Home</title>
	<link rel="stylesheet" href="../css/login.css">
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../plugins/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" media="screen" href='../plugins/font-awesome/css/font-awesome.min.css'>
    <link rel="stylesheet" media="screen" href='../plugins/bootstrap/css/bootstrap.min.css'>
    
</head>

<body>
	<h3>Bienvenido "NomCliente" </h3>
	<div id="opcionesHome">
		<button class="btn btn-success btn-block btn-flat"> Mi hogar </button> <!-- Ver estado del hogar -->
	</div>



</body>
</html>