<div class="controller login" ng-controller="LoginCtrl">
<head>
    <title>Home</title>
	<link rel="stylesheet" href="../css/homeCliente.css"> 
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../plugins/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" media="../screen" href='plugins/font-awesome/css/font-awesome.min.css'>
    <link rel="stylesheet" media="../screen" href='plugins/bootstrap/css/bootstrap.min.css'>
    
</head>

<body>
	<h3>Bienvenido "NomCliente"</h3>

<div class="card-deck">
  <div class="card text-center">
    <img class="card-img-top" src="../imagenes/hogar.jpg" alt="Card image cap">
    <div class="card-body">
      <button type="button" class="btn btn-light">Ver mi hogar</button>
    </div>
  </div>
  
  <div class="card text-center">
  	<img class="card-img-top" src="../imagenes/ahorro-led.jpg" alt="Card image cap">
  	<div class="card-body">
      <button type="button" class="btn btn-light">Consultar consumo</button>
    </div>
  </div>
  
  <div class="card text-center">
  	<img class="card-img-top" src="../imagenes/bajoConsumo.jpg" alt="Card image cap">
  	<div class="card-body">
      <button type="button" class="btn btn-light">Ejecutar optimizador</button>
    </div>
  </div>
	
</div>

</body>
</div>