 {{#partial "contenido"}}
<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>EnergyApp</title>

<link rel="stylesheet" type="text/css" href="css/stylesheet.css">
<link rel="stylesheet" type="text/css" href="css/reseter.css" />
<link rel="stylesheet" href="/css/login.css">
<link rel="stylesheet" href="/css/main.css">
</head>
<body>
<h1 class="title-post-index" align="center" style="font-size: 120px">Bienvenido a EnergiApp</h1>
<p id="text-description" align="center">Ofreciendo el mejor servicio desde 2012</p>
</body>
</html>
{{/partial}}
{{>layout.hbs}}