{{#partial "contenido"}}
<head>
    <title>Home</title>
	<link rel="stylesheet" href="/css/homeCliente.css"> 
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    
    
</head>

<body>

<div class="card-deck">
  <div class="card text-center">
    <img class="card-img-top" src="../imagenes/hogar.jpg" alt="Card image cap">
    <div class="card-body">
      <button type="button" class="btn btn-light">Visualizar hogares</button>
    </div>
  </div>
  
  <div class="card text-center">
  	<img class="card-img-top" src="../imagenes/ahorro-led.jpg" alt="Card image cap">
  	<div class="card-body">
      <button type="button" class="btn btn-light">Obtener reporte</button>
    </div>
  </div>
  
  <div class="card text-center">
  	<img class="card-img-top" src="../imagenes/bajoConsumo.jpg" alt="Card image cap">
  	<div class="card-body">
      <button type="button" class="btn btn-light">Dar alta de dispositivo</button>
    </div>
  </div>
	
</div>
</body>
{{/partial}}
{{>layout.hbs}}