{{#partial "contenido"}}
<head>
    <title>Home</title>
	<link rel="stylesheet" href="css/homeCliente.css"> 
    <link rel="stylesheet" href="../public/css/main.css">
    <link rel="stylesheet" href="../public/plugins/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" media="../screen" href='../public/plugins/font-awesome/css/font-awesome.min.css'>
    <link rel="stylesheet" media="../screen" href='../public/plugins/bootstrap/css/bootstrap.min.css'>
    
</head>

<body>

	<h1>Bienvenido Administrador {{nombre}} {{apellido}}</h1>

</body>
{{/partial}}
{{>layout.hbs}}